.text
  display block
  scroll-snap-type: y proximity

.location-link
  border-left 2px solid #aaa
  min-height 1em
  padding-bottom 4em
  margin-bottom 1em

:global(.active)
  border-left-color salmon
