:global
  *
    font-family: "Helvetica Neue", Arial, sans-serif

  body
    margin 0
    padding 0

  .leaflet-container
    height: 100vh

  div.lower-right
    z-index: 5
    position fixed
    right 5
    bottom 5
    max-width 300px

  div.positions-panel
    margin 1em
    padding 1em
    background #fff
    border-radius 4px
    a.fly-to
      color: dodgerblue
      cursor: pointer
